body {
  padding-top: 60px;
  padding-bottom: 40px;
}

.container.flash div {
  margin-bottom: 0;
}

.typeahead {
  z-index: 9999;
}

.modal-wide {
  width: 612px;
}

.modal-body form {
  margin-bottom: 0;
}

.asset-editor .modal-body .btn-file i {
  margin-left: 1px;
  margin-right: 1px;
}

.menu-editor .modal-body input[type=radio] {
  margin: 0 2px 0 0;
}

.menu-editor .modal-body fieldset {
  padding: 9px 0 1px 0;
  background-color: whitesmoke;
  border-radius: 6px;
  margin-bottom: 7px;
}

.menu-editor .modal-body fieldset[disabled] {
  background-color: transparent;
}

.menu-editor .modal-body .control-group {
  margin-bottom: 9px;
}

#sortable tr.item {
  cursor: move;
}

#inputMediaFile,
#inputAssetFile {
  float: left;
  height: 1px;
}

.ace-editor {
  height: 250px;
  border: 1px solid #ccc;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
}

